body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  cursor: none;
}

.body {
  background-color: #dedede;
  font-family: Helveticaneue, sans-serif;
  color: #111920;
  line-height: 1;
}

.div-block {
  width: 100vw;
  height: 4vh;
  background-color: #fff;
}

.moving {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Helveticaneue, sans-serif;
  color: #111920;
  font-size: 1.25vw;
  line-height: 1;
}

.marquee-horizontal {
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 4.15vh;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #111920;
  border-bottom: 1px solid #111920;
  background-color: #fff;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 14.75vh;
  margin-right: 0vw;
  margin-left: 0vw;
  padding-right: 4vw;
  padding-left: 4vw;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-style: solid solid none;
  border-width: 1.5px 1.5px 0px;
  border-color: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.text60 {
  display: inline;
  padding-bottom: 0vh;
  border-bottom: 2.5px none #111920;
  font-family: Helveticaneue, sans-serif;
  font-size: 3.125vw;
  letter-spacing: -0.15vw;
}

.text60.menu-link {
  padding-bottom: 0.25vh;
  border-bottom-style: solid;
}

.text60.mobile.award {
  line-height: 1.25;
}

.text60.fade-up2.tricks {
  overflow: hidden;
}

.text60.fade-up3.tricks {
  overflow: hidden;
}

.text60.fade-up4.tricks {
  overflow: hidden;
}

.text60.fade-up5.tricks {
  overflow: hidden;
}

.menu-fixed {
  position: fixed;
  z-index: 50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.menu-scroll {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.text30 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2vw;
  padding-bottom: 0.25vh;
  border-bottom: 2px solid #111920;
  color: #111920;
  font-size: 1.5vw;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
}

.text30.diff {
  position: relative;
  z-index: 100;
}

.text30.testimonial {
  margin-left: 0vw;
  padding-bottom: 0vh;
  border-bottom-style: none;
  letter-spacing: -0.05vw;
}

.text30.testimonial.name {
  margin-top: 3vh;
}

.text30.social {
  margin-right: 0vw;
  margin-left: 0vw;
}

.section-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 85.25vh;
  margin-right: 4vw;
  margin-left: 4vw;
  padding-bottom: 9.5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-3 {
  width: 105%;
  font-size: 7.2vw;
  line-height: 0.95;
  letter-spacing: -0.36vw;
}

.text-block-3.fade-up.tricks {
  overflow: hidden;
  width: 100%;
  margin-top: -12px;
  padding-top: 0px;
  padding-bottom: 12px;
}

.section-2 {
  margin-right: 4vw;
  margin-left: 4vw;
  padding-top: 10.5vh;
  padding-bottom: 9.5vh;
}

.all {
  border-right: 1.5px solid transparent;
  border-left: 1.5px solid transparent;
}

.left-col {
  overflow: hidden;
  width: 17.5vw;
}

._2-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.right-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 58.5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.right-col.testimonial {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.section-3 {
  margin-right: 4vw;
  margin-left: 4vw;
  padding-top: 10.5vh;
  padding-bottom: 9.5vh;
}

.section-4 {
  margin-right: 4vw;
  margin-left: 4vw;
  padding-top: 10.5vh;
  padding-bottom: 9.5vh;
}

.feedback {
  width: 26vw;
  margin-right: 4vw;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10.5vh;
}

.section-5 {
  margin-right: 4vw;
  margin-left: 4vw;
  padding-top: 7.5vh;
  padding-bottom: 17.5vh;
  border-top: 2.5px solid #111920;
}

._3-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.link {
  border-bottom: 2.5px solid #111920;
  color: #111920;
  text-decoration: none;
}

.div-block-3 {
  margin-top: 5.5vh;
}

.social-grp1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5vh;
}

.middle-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.middle-col.testimonial {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.all-social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.social-grp2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5vh;
}

.resume-col {
  width: 26.5vw;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 17vw;
  height: 6vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2.5px;
  border-color: #111920;
  border-radius: 10px;
  background-color: #dedede;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #111920;
  font-size: 1.5vw;
  cursor: none;
}

.button:hover {
  background-color: #cacaca;
}

.div-block-4 {
  margin-top: 8vh;
}

.profile-img {
  display: none;
}

.link-block {
  color: #111920;
  text-decoration: none;
  cursor: none;
}

.link-block-2 {
  margin-right: 2vw;
  text-decoration: none;
  cursor: none;
}

.tricksword {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.page1 {
  border-style: solid;
  border-width: 0px 1px;
  border-color: #111920;
}

.p1 {
  border: 1px solid transparent;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.page {
  border: 0px none transparent;
}

.cursor-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1000;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cursor-circle {
  position: absolute;
  width: 75px;
  height: 75px;
  border: 1px solid #111920;
  border-radius: 50%;
  color: #111920;
}

.point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #111920;
}

.gototop {
  position: fixed;
  left: auto;
  top: auto;
  right: 4vw;
  bottom: 5vh;
  z-index: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5vw;
  height: 5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #111920;
  border-radius: 10px;
  background-color: #dedede;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #111920;
  font-size: 1.5vw;
  text-align: center;
}

.gototop:hover {
  background-color: #cacaca;
}

@media screen and (min-width: 1280px) {
  .menu {
    border-style: solid solid none;
    border-width: 1.5px 1.5px 0px;
    border-color: transparent;
  }

  .all {
    border-right-width: 1.5px;
    border-left-width: 1.5px;
  }

  .page {
    border-style: none;
    border-width: 0px;
  }
}

@media screen and (min-width: 1920px) {
  .menu {
    border-style: solid solid none;
    border-width: 1.5px 1.5px 0px;
    border-color: transparent;
  }

  .text-block-3.fade-up.tricks {
    margin-top: -18px;
    padding-bottom: 18px;
  }

  .all {
    border-right-width: 1.5px;
    border-left-width: 1.5px;
  }

  .button {
    height: 6.5vh;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .div-block-4 {
    margin-top: 7.5vh;
  }

  .page {
    border-style: none;
    border-width: 0px;
  }
}

@media screen and (max-width: 991px) {
  .text-block {
    font-size: 2.25vw;
  }

  .marquee-horizontal {
    height: 4.25vh;
  }

  .menu {
    height: 15vh;
    margin-right: 0vw;
    margin-left: 0vw;
    padding-right: 5vw;
    padding-left: 5vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .text60 {
    font-size: 4vw;
  }

  .text60.menu-link {
    border-bottom-width: 2px;
  }

  .text60.mobile {
    font-size: 3.75vw;
  }

  .menu-fixed {
    width: 90%;
  }

  .text30 {
    font-size: 2.25vw;
  }

  .section-1 {
    height: 85vh;
    margin-right: 5vw;
    margin-left: 5vw;
    padding-bottom: 10vh;
  }

  .text-block-3 {
    font-size: 7.1vw;
  }

  .text-block-3.fade-up.tricks {
    width: 101%;
    margin-top: -8px;
    padding-bottom: 8px;
  }

  .section-2 {
    margin-right: 5vw;
    margin-left: 5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .all {
    border-right-width: 1.5px;
    border-left-width: 1.5px;
  }

  .left-col {
    width: 18vw;
  }

  .right-col {
    width: 72vw;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .section-3 {
    margin-right: 5vw;
    margin-left: 5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .section-4 {
    margin-right: 5vw;
    margin-left: 5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .feedback {
    width: 33vw;
  }

  .div-block-2 {
    margin-bottom: 5vh;
  }

  .section-5 {
    margin-right: 5vw;
    margin-left: 5vw;
    padding-bottom: 10vh;
  }

  .middle-col {
    width: 37vw;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .all-social-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .social-grp2 {
    margin-top: 1vh;
  }

  .resume-col {
    width: 35vw;
  }

  .button {
    width: 28vw;
    height: 5vh;
    border-width: 2px;
    font-size: 2.25vw;
  }

  .div-block-4 {
    margin-top: 6.5vh;
  }

  .cursor-wrapper {
    display: none;
  }

  .cursor-circle {
    display: none;
  }

  .point {
    display: none;
  }

  .gototop {
    right: 5vw;
    bottom: 4vh;
    width: 7.5vw;
    height: 7.5vw;
    font-size: 2.25vw;
  }
}

@media screen and (max-width: 479px) {
  .text-block {
    font-size: 4vw;
  }

  .marquee-horizontal {
    height: 4vh;
  }

  .menu {
    height: 12.5vh;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .text60 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 5vw;
  }

  .text60.menu-link {
    border-bottom-width: 2px;
  }

  .text60.menu-link.contact {
    font-size: 4.5vw;
  }

  .text60.mobile {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 4.5vw;
  }

  .text60.mobile.contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text60.mobile.social {
    font-size: 5vw;
  }

  .text30 {
    margin-left: 4vw;
    font-size: 5vw;
  }

  .text30.testimonial {
    font-size: 4.5vw;
    letter-spacing: -0.15vw;
  }

  .text30.social {
    margin-right: 0vw;
    font-size: 4.5vw;
  }

  .section-1 {
    height: 87.5vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .text-block-3 {
    width: 100%;
    font-size: 7.1vw;
  }

  .text-block-3.fade-up.tricks {
    width: 101%;
    margin-top: -6px;
    padding-bottom: 6px;
  }

  .section-2 {
    margin-right: 5vw;
    margin-left: 5vw;
    padding-top: 5vh;
    padding-bottom: 10vh;
  }

  .all {
    border-right-width: 1px;
    border-left-width: 1px;
  }

  .left-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  ._2-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .right-col {
    width: 100%;
    margin-top: 3vh;
  }

  .section-3 {
    margin-right: 5vw;
    margin-left: 5vw;
    padding-top: 5vh;
  }

  .section-4 {
    padding-top: 5vh;
  }

  .feedback {
    width: 100%;
    margin-bottom: 5vh;
  }

  .div-block-2 {
    margin-bottom: 0vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-5 {
    padding-top: 5vh;
  }

  ._3-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .link {
    margin-top: 1vh;
  }

  .middle-col {
    width: 100%;
    margin-top: 3vh;
  }

  .email {
    margin-top: 1.5vh;
  }

  .resume-col {
    width: 100%;
    margin-top: 5.5vh;
  }

  .button {
    width: 55vw;
    height: 5.75vh;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 5vw;
  }

  .div-block-4 {
    width: 80vw;
    margin-top: 3.5vh;
  }

  .profile-img {
    display: block;
    width: 100%;
    height: 55vh;
    margin-bottom: 5vh;
    padding-right: 0px;
    padding-bottom: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('../images/profile-pic-bw.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  .link-block-2 {
    margin-right: 3vw;
  }

  .page {
    border-style: none;
    border-width: 0px;
  }

  .gototop {
    width: 15vw;
    height: 15vw;
    border-width: 2px;
    font-size: 5vw;
  }
}

@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}