/* Hide on Smaller Screens */

@media screen and (max-width: 991px) {

	.cursor-a,
	.cursor-b,
	.cursor-v,
	.text-cursor,
	.cursor {

		visibility: 1;

		display: none;

	}

}

/* Blue Outline Stroke */

.outline-title {

	color: transparent;

	-webkit-text-stroke: 1px #B93E48;

}

/*Custom Mouse Cursor*/

* {

	cursor: none;

}

.cursor {

	position: fixed;

	height: 10px;

	width: 10px;

	border-radius: 50%;

	z-index: 1000;

}


.cursor-a {

	position: fixed;

	background-color: #B93E48;

	width: 10px;

	height: 10px;

	border-radius: 100%;

	z-index: 10000;

	transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;

	user-select: none;

	pointer-events: none;

	z-index: 100000000;

	transform: scale(1);

}

.cursor-a.active {

	opacity: 0.5;

	transform: scale(0);

}

.cursor-a.hovered {

	opacity: 0.08;

}

.badge {

	visibility: hidden;

	margin-top: -221px;

	margin-left: -86.5px;

	position: relative;

	width: 414px;

	transform: rotate(-50deg);

}

.cursor-b {

	position: fixed;

	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;

	user-select: none;

	pointer-events: none;

	z-index: 10000000;

	transform: translate(-14px, -14px);

}

.cursor-v {

	width: 38px;

	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;

	height: 38px;

	border-radius: 100%;

	border-style: solid;

	border-width: 1px;

	border-color: #F0EBE6;

}

.cursor-v.active {

	background-color: rgba(255, 255, 255, 0.1);

	opacity: 0.7;

	transform: scale(2);

	border: none;

}

.cursor-v.hovered {

	opacity: 0.06;

}

}