/* Scrollbar */

::-webkit-scrollbar {
	background: #131313;
	width: 0.5vw;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px #00000070;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #000;
	border-radius: 20px;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}