* {
	padding: 0;
	margin: 0;

}

body {
	background-color: #131313;
	background-image: url(http://api.thumbr.it/whitenoise-500x500.png?background=13131300&noise=626262&density=10&opacity=10);
}

.all {
	width: 100vw;
	height: auto;
}

.sec1 {
	width: 100%;
	height: 100vh;
	background-color: #131313;
	background-image: url(http://api.thumbr.it/whitenoise-500x500.png?background=13131300&noise=626262&density=10&opacity=10);
}



a {
	text-decoration: none;
}



/*heading css*/

.ml7 {
	position: relative;
	width: 100vw;
	/*	height: 51vh;*/
}

.ml7 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0;
	padding-right: 0.05em;
	padding-bottom: 0.1em;
	overflow: hidden;
}

.ml7 .letter {
	transform-origin: 0 100%;
	display: inline-block;
	line-height: 1.05em;
}


h1 {
	font-family: 'Playfair Display', serif;
	font-size: 14vh;
	line-height: 0.5;
	/*	letter-spacing: inherit;*/
	text-align: center;
	color: #f0ebe6;
	font-weight: 100;
}

.italics {
	font-style: oblique;
}

.bold {
	-webkit-text-stroke-width: 0.05vw;
	-webkit-text-stroke-color: #f0ebe6;
	color: #f0ebe600;
}

/*
.underline {
	background-repeat: repeat-x;
}

.underline--bacon {
	background-image: url(assets/homepage/line.svg);
	background-position: 0 1.06em;
	background-size: 28px 9px;
}
*/

.heading {
	position: absolute;
	/* or absolute */
	top: 48%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -52%);
}

.scroll {
	position: absolute;
	/* or absolute */
	left: 50%;
	bottom: 5vh;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	text-align: center;
	color: #f0ebe6;
	font-weight: 100;
	font-family: 'Lato', serif;
	opacity: 60%;
	font-size: 1.6vh;
	/*	animation: fadeInUp;*/
}


.top {
	position: absolute;
	display: flex;
	width: 100vw;
	margin-top: 3vh;
	position: fixed;
	height: 5vh;
	vertical-align: baseline;
}

#icon {
	height: 6vh;
	position: absolute;
	right: 0;
	width: 6vw;
}

.logo {
	height: 4.5vh;
	position: absolute;
	left: 2vw;
}






/*
.sec2 {
	width: 100%;
	height: 100vh;
	background-color: #131313;
	background-image: url(http://api.thumbr.it/whitenoise-500x500.png?background=13131300&noise=626262&density=10&opacity=10);
}
*/


.about-me {
	padding-top: 12.5vh;
	display: flex;
	width: 100vw;
	text-align: center;
}

.about-me h2 {
	text-transform: uppercase;
	font-family: 'Lato', serif;
	font-size: 2.25vh;
	/*	line-height: 0.5;*/
	/*	letter-spacing: normal;*/
	text-align: left;
	color: #f0ebe6;
	font-weight: 100;
	width: 8.5vw;
	margin-left: 12vw;
}

.about-me h3 {
	/*	text-transform: uppercase;*/
	font-family: 'Lato', serif;
	font-size: 4.85vh;
	/*	line-height: 0.5;*/
	/*	letter-spacing: normal;*/
	text-align: left;
	color: #f0ebe6;
	font-weight: 100;
	width: 45vw;
	margin-left: 20vw;
}




/*



.sec3 {
	width: 100%;
	height: 100vh;
	background-color: #131313;
	background-image: url(http://api.thumbr.it/whitenoise-500x500.png?background=13131300&noise=626262&density=10&opacity=10);
}*/


.social {
	padding-top: 12.5vh;
	display: flex;
	width: 100vw;
	text-align: center;
}

.social h2 {
	text-transform: uppercase;
	font-family: 'Lato', serif;
	font-size: 2.25vh;
	/*	line-height: 0.5;*/
	/*	letter-spacing: normal;*/
	text-align: left;
	color: #f0ebe6;
	font-weight: 100;
	width: 8.5vw;
	margin-left: 12vw;
}

.social h5 {
	/*	text-transform: uppercase;*/
	font-family: 'Lato', serif;
	font-size: 2vh;
	/*	line-height: 0.5;*/
	/*	letter-spacing: normal;*/
	text-align: left;
	color: #f0ebe6;
	font-weight: 100;
	/*	width: 45vw;*/
	margin-left: 20vw;
}