* {
	padding: 0;
	margin: 0;
}

.all {
	width: 100vw;
	height: auto;
}

.sec1 {
	width: 100%;
	height: 100vh;
	background-color: #131313;
}



/*heading css*/

.ml7 {
	position: relative;
	width: 100vw;
	height: 51vh;
}

.ml7 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0;
	padding-right: 0.05em;
	padding-bottom: 0.1em;
	overflow: hidden;
}

.ml7 .letter {
	transform-origin: 0 100%;
	display: inline-block;
	line-height: 1em;
}


h1 {
	font-family: 'Playfair Display', serif;
	font-size: 14vh;
	line-height: 0.8;
	letter-spacing: normal;
	text-align: center;
	color: #f0ebe6;
	font-weight: 100;
}