* {
	padding: 0;
	margin: 0;
}

.all {
	width: 100vw;
	height: auto;
}

.sec1 {
	width: 100%;
	height: 100vh;
	background-color: #131313;
}



/*heading css*/

.ml7 {
	position: relative;
	width: 100vw;
	/*	height: 51vh;*/
}

.ml7 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0;
	padding-right: 0.05em;
	padding-bottom: 0.1em;
	overflow: hidden;
}

.ml7 .letter {
	transform-origin: 0 100%;
	display: inline-block;
	line-height: 1.05em;
}


h1 {
	font-family: 'Playfair Display', serif;
	font-size: 14vh;
	line-height: 0.5;
	/*	letter-spacing: normal;*/
	text-align: center;
	color: #f0ebe6;
	font-weight: 100;
}

.italics {
	font-style: italic;
}

.underline {
	text-decoration: overline;
}

.heading {
	position: absolute;
	/* or absolute */
	top: 48%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -52%);
}

.scroll {
	position: absolute;
	/* or absolute */
	left: 50%;
	bottom: 5vh;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	text-align: center;
	color: #f0ebe6;
	font-weight: 100;
	font-family: 'Lato', serif;
	opacity: 60%;
	font-size: 1.6vh;
}


.top {
	position: absolute;
	display: flex;
	width: 100vw;
	margin-top: 3vh;
	position: fixed;
	height: 5vh;
	vertical-align: baseline;
}

#icon {
	height: 6vh;
	position: absolute;
	right: 0;
	width: 6vw;
}

.logo {
	height: 4.5vh;
	position: absolute;
	left: 2vw;
}